{% extends "gameexch/base.html" %}
{% load static %}
{% block content %}
	<div class="row mx-auto">
		{% for game in object_list %}
			<div class="col-md-6 col-sm-12">
				<div class="row game-column my-3 mx-1 py-3 text-center">
					<div class="col-md-4 col-sm-4">
						<img class="img-fluid gex-image" src="{{game.image.url}}">
					</div>
					<div class="col-md-8 col-sm-8">
						<h4 class="game-name border-bottom"><a href="{% url 'gex-game-datail' game.id %}">{{game.name}}</a></h4>
						<div class="row mx-auto">
							<div class="col-6 text-center">
								<p class="text-weight-bold game-platform-genre"><small>Console: {{game.console.name}}</small></p>
							</div>
							<div class="col-6 text-center game-platform-genre">
								<p class="text-weight-bold game-platform-genre"><small>Genre: {{game.genre}}</small></p>
							</div>
						</div>
						<hr>
						<p class="game-description text-sm-left font-italic"><small>{{game.description}}</small></p>
					</div>
					<div class="col-md-4 text-center">
						<form action="#" method="post">
							<button class="btn btn-outline-dark" type="whislist">Whishlist</button>
						</form>
					</div>
					<div class="col-md-4 text-center">
						<form action="#" method="post">
							<button class="btn btn-outline-dark" type="owner">Owner</button>
						</form>
					</div>
					<div class="col-md-4 text-center">
						<form action="#" method="post">
							<button class="btn btn-outline-dark btn-like" type="whislist"><i class="far fa-heart"></i> {{game.likes}}</button>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}
