{% extends "gameexch/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="row mx-auto">
		<div class="registration-section col-md-6 col-xs-12">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom my-4">Join Us</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-dark" type="submit">Sign Up</button>
				</div>
			</form>
			<div class="border-top py-3">
				<small class="text-muded">Already have an Account?<a class="ml-2" href="#">Sign In</a>
				</small>
			</div>
		</div>
		<div class="col-md-6 col-xs-12 my-3">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliasd</p>
		</div>
	</div>
	
{% endblock content %}
