{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="row">
		{% if object.banned %}
			<div class="col-12">
				<h4 class="border-bottom text-danger">Sorry, this user was banned</h4>
				{% if user.profile.rules == 'M' or user.profile.rules == 'A' %}
					<a href="{% url 'profile-ban' object.id %}">Unban User</a></p>
				{% endif %}
		{% else %}
			<div class="col-12 col-sm-4 col-md-3 text-center">
				<img class="img-fluid gex-image" src="{{ object.image.url }}">
			</div>
			<div class="col-12 col-sm-8 col-md-6">
				<h4 class="profile-name border-bottom text-center">{{ object.user.username }}</h4>
				<div class="row mx-auto">
					<div class="col-6">
						<small>
							<p class="user-profile-info">E-mail: {{ object.user.email }}</p>
							{% if object.user.first_name or object.user.last_name %}
								<p class="user-profile-info">Name: {{ object.user.first_name }} {{ object.user.last_name }}</p>
							{% endif %}
							{% if object.city %}
								<p class="user-profile-info">City: {{ object.city.name }}</p>
							{% endif %}
						</small>
					</div>
					<div class="col-6">
						<small>
							{% if object.phone %}
								<p class="user-profile-info">Phone: {{ object.phone }}</p>
							{% endif %}
							{% if object.vk %}
								<a href="{{object.vk}}" target="_blank"><p class="user-profile-info"><i class="fab fa-vk fa-lg"></i>: {{object.vk}}</p></a>
							{% else %}
								<p class="user-profile-info"><i class="fab fa-vk fa-lg"></i>: Not yet :(</p>
							{% endif %}
							{% if object.whatsapp %}
								<a href="https://api.whatsapp.com/send?phone={{object.whatsapp}}" target="_blank"><p class="user-profile-info"><i class="fab fa-whatsapp fa-lg"></i>: {{object.whatsapp}}</p></a>
							{% else %}
								<p class="user-profile-info"><i class="fab fa-whatsapp fa-lg"></i>: Not yet :(</p>
							{% endif %}
							{% if object.telegram %}
								<p class="user-profile-info"><i class="fab fa-telegram-plane fa-lg"></i>: {{object.telegram}}</p>
							{% else %}
								<p class="user-profile-info"><i class="fab fa-telegram-plane fa-lg"></i>: Not Yet :(</p>
							{% endif %}
						</small>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-8 col-md-3">
				<h4 class="profile-name border-bottom">Games:</h4>
				<p><a href="#">Wanted Games</a></p>
				<p><a href="#">Owned Games</a></p>
				<p><a href="#">Liked Games</a></p>
				{% if user.profile.rules == 'M' or user.profile.rules == 'A' %}
					<h4 class="profile-name border-bottom">Moderation:</h4>
					<a href="{% url 'profile-ban' object.id %}">Ban User</a></p>
					<a href="{% url 'profile-moderation' object.id %}">Edit User</a></p>
				{% endif %}
				{% if user.profile.rules == 'A' %}
					<a href="{% url 'profile-rules' object.id %}">Change User Rules</a></p>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endblock content %}
