main {
	background-color: #EFE9FF
}

hr {
	padding: 1px;
	margin: 1px;
}

.game-platform-genre{
	margin-bottom: 1px;
	margin-top: 0;
}

.game-column {
	background-color: white;
}

.gex-image {
	height: 250px;
	width: 150px;
	object-fit: cover;
}
.game-name{
	overflow: hidden;
}

.game-description{
	overflow: auto;
	height: 179px;
}

.btn-like:hover, .btn-like:focus, .btn-like:active, .btn-like.active, .open>.dropdown-toggle.btn-like {
	background-color: #FF4040;
	border-color: #750000;
}

.user-profile-info{
	margin: 0;
}
