body{
	font-family:Helvetica,Arial,sans-serif;
  	background-color:#15193f;
  	color:#fff;
}

.btn-like:hover, .btn-like:focus, .btn-like:active, .btn-like.active, .open>.dropdown-toggle.btn-like {
	background-color: #FF4040;
	border-color: #750000;
}