{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="row mx-auto">
		<div class="registration-section col-md-6 col-xs-12">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom my-4">Fill the game form:</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-dark" type="submit">Add to database</button>
				</div>
			</form>
		</div>
		<div class="col-md-6 col-xs-12 my-3">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliasd</p>
		</div>
	</div>
{% endblock content %}
