{% extends "gameexch/base/base.html" %}
{% block content %}
	<div class="row form-group" id="selection-menu">
		<div class = "col-md-4">
			<label>Select Platform:</label>
			<select class="form-control">
				<option>X-BOX</option>
				<option>Nintendo Switch</option>
				<option>Play Station 5</option>
			</select>
		</div>
		<div class = "col-md-4">
			<label>Select Game:</label>
			<select class="form-control">
				<option>The Elder Scrolls 5: Skyrim</option>
				<option>Zelda: Breath of the Wild</option>
				<option>Play Station 5</option>
			</select>
		</div>
		<div class = "col-md-4">
			<label>Select City:</label>
			<select class="form-control">
				<option>Karaganda</option>
				<option>Almaty</option>
				<option>Astana</option>
			</select>
		</div>
	</div>
	<h1>This is about page of the Game Exch Project</h1>
{% endblock content %}
