{% extends "gameexch/base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="row justify-content-md-center">
		<div class="col-md-9 col-sm-12"> 
			<div class="row game-column my-3 mx-1 py-3 text-center border border-dark">
				<div class="col-md-4 col-sm-4">
					<img class="img-fluid gex-image" src="{{game.image.url}}">
				</div>
				<div class="col-md-8 col-sm-8">
					<h4 class="game-name border-bottom">{{object.name}}</h4>
					<div class="row mx-auto">
						<div class="col-6 text-center">
							<p class="text-weight-bold game-platform-genre"><small>Console: {{object.console.name}}</small></p>
						</div>
						<div class="col-6 text-center game-platform-genre">
							<p class="text-weight-bold game-platform-genre"><small>Genre: {{object.genre}}</small></p>
						</div>
					</div>
					<hr>
					<p class="game-description text-sm-left font-italic"><small>{{object.description}}</small></p>
				</div>
				<div class="col-md-4 text-center">
					<form action="#" method="post">
						<button class="btn btn-outline-dark" type="whislist">Whishlist</button>
					</form>
				</div>
				<div class="col-md-4 text-center">
					<form action="#" method="post">
						<button class="btn btn-outline-dark" type="owner">Owner</button>
					</form>
				</div>
				<div class="col-md-4 text-center">
					<form action="#" method="post">
						<button class="btn btn-outline-dark btn-like" type="whislist"><i class="far fa-heart"></i> {{object.likes}}</button>
					</form>
				</div>
			</div>
		</div>
		{% if user.profile.rules == 'M' or user.profile.rules == 'A' %}
			<div class="col-md-3 col-sm-12 my-3">
				<h4 class="border-bottom">Moderation Options</h4>
				<p><a href="{% url 'gex-game-update' object.id %}">Update Game</a></p>
				<p><a href="{% url 'gex-game-delete' object.id %}">Delete Game</a></p>
			</div>
		{% endif %}
		<div class="col-md-9 col-sm-12">
			<div class="row mx-1">
				<div class="col-12">
					<form method="POST">
						{% csrf_token %}
						<fieldset class="form-group">
							<legend class="border-bottom my-4">Leave a message</legend>
							{{ comment_form|crispy }}
						</fieldset>
						<div class="form-group">
							<button class="btn btn-outline-dark" type="submit">Submit</button>
						</div>
					</form>
				</div>
				{% for comment in comments %}
					<div class="col-md-2 col-sm-4 py-3 my-1 text-center comment-section">
						<img class="img-fluid gex-comment-image" src="{{comment.author.profile.image.url}}">
						{% if comment.author.profile.rules == 'U' and user.profile.rules == 'M' or user.profile.rules == 'A' or user == comment.author %}
						<small><a href="{% url 'gex-game-comment-delete' comment.id %}">Delete</a></small>
						{% endif %}
					</div>
					<div class="col-md-10 col-sm-8 py-3 my-1 comment-section">
						<h5 class="border-bottom">{{comment.author.username}}</h5>
						<p>{{comment.message}}</p>
					</div>
				{% endfor %}
			</div>
		</div>
		{% if user.profile.rules == 'M' or user.profile.rules == 'A' %}
			<div class="col-md-3 col-sm-12">
			</div>
		{% endif %}
	</div>
{% endblock content %}
