{% extends "gameexch/base/base.html" %}
{% load static %}
{% load gex_tags %}
{% load crispy_forms_tags %}
{% block content %}
{% get_game_options user.pk game.pk as u2g %}
	<div class="row justify-content-center">
		<div class="col-md-8 col-sm-12"> 
			<div class="img-wrapper mx-xs-0 mx-md-3 mx-lg-4 mx-xl-5">
				<img class="img-responsive" src="{{game.image.url}}">
				<div class="row img-overlay-options">
					<div class="col-6 btn-left">
						<form method="post">
							{% csrf_token %}
							<input type="hidden" name="game_pk" value="{{game.pk}}">
							<button type="submit" name="method" value="owner" class="btn {% if u2g.is_owner %}btn-success{% else %}btn-primary{% endif %}" title='Owner'><i class="fas fa-check"></i></button>
							<button type="submit" name="method" value="whishlist" class="btn {% if u2g.is_wanted %}btn-success{% else %}btn-primary{% endif %}" title='Whishlist'><i class="fas fa-cart-plus"></i></button>
						</form>
					</div>
					<div class="col-6 btn-right">
						<form method="post">
							{% csrf_token %}
							<input type="hidden" name="game_pk" value="{{game.pk}}">
							<button type="submit" name="method" value="like" class="btn {% if u2g.is_like %}btn-danger{% else %}btn-primary{% endif %} btn-like" title='Like'><i class="far fa-heart"></i> {{game.likes}}</button>								
						</form>
					</div>
				</div>
				<div class='col-12 px-0 py-1 text-center nowrap'>
					<h5 class="border-bottom mb-0"><a class="text-center" title="{{game.name}}" href="{% url 'gex-game-datail' game.id %}">{{game.name}}</a></h4>
					<p class="my-0">Platform: {{game.platform.name}}</p>
					<p class="my-0">Genres: {% for genre in object.genre.all %}<span class="border-bottom">{{genre.name}}</span>  {% endfor %}</p>
				</div>
			</div>
		</div>
		{% if user.profile.rules == 'M' or user.profile.rules == 'A' %}
			<div class="col-12 col-md-4">
				<h4 class="border-bottom">Moderation Options</h4>
				<p><a href="{% url 'gex-game-update' object.id %}">Update Game</a></p>
				<p><a href="{% url 'gex-game-delete' object.id %}">Delete Game</a></p>
			</div>
		{% endif %}
		<div class="col-md-8 col-sm-12"> 
			{% include "gameexch/game_commentary_block.html" %}
		</div>
		{% if user.profile.rules == 'M' or user.profile.rules == 'A' %}
			<div class="col-12 col-md-4">
			</div>
		{% endif %}
	</div>
{% endblock content %}
