<header class="site-header">
	<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #070A20;">
		<a href="{% url 'gex-game-view' %}" class="navbar-brand ml-3">
				<img src="/media/Logo.webp" style="max-width:100px;">
		</a>
		<button class="navbar-toggler mr-auto" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
		<div class="collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Games</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'gex-about' %}">About</a>
				</li>
			</ul>
		</div>
		<ul class="navbar-nav mr-3"> 
			{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-id-badge"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus"></i></a>
				</li>
			{% endif %}
		</ul>
	</nav>
</header>